<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="layoutCSS">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Fontfaces CSS-->
    <link href="../../resource/css/font-face.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="../../resource/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="../../resource/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
          media="all">
    <link href="../../resource/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../resource/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="../../resource/css/theme.css" rel="stylesheet" media="all">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>

<!-- HEADER MOBILE-->
<header th:fragment="headerMobile" class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a href="/">
                    <img src="../../resource/images/icon/LogoAdmin-removebg-preview.png" alt="Cool Admin"/>
                </a>
                <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="/home">
                        <i class="fas fa-chart-bar"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/User">
                        <i class="fas fa-table"></i>User</a>
                </li>
                <li>
                    <a href="/Product">
                        <i class="far fa-check-square"></i>Product</a>
                </li>
                <li>
                    <a href="/SmartPhone">
                        <i class="far fa-check-square"></i>Product</a>
                </li>
                <li>
                    <a href="/Province">
                        <i class="far fa-check-square"></i>Province</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside th:fragment="sidebar" class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="../../resource/images/icon/LogoAdmin-removebg-preview.png" alt="Cool Admin"/>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a class="text" href="/home">
                        <i class="fas fa-chart-bar"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/User">
                        <i class="fas fa-table"></i>User</a>
                </li>
                <li>
                    <a href="/Product">
                        <i class="far fa-check-square"></i>Product</a>
                </li>
                <li>
                    <a href="/SmartPhone">
                        <i class="far fa-check-square"></i>Smart Phone</a>
                </li>
                <li>
                    <a href="/Province">
                        <i class="far fa-check-square"></i>Province</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
<!-- HEADER DESKTOP-->
<header th:fragment="header" class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                    <input class="au-input au-input--xl" type="text" name="search"
                           placeholder="Search for datas &amp; reports..."/>
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
                <div class="header-button">
                    <div class="noti-wrap">
                        <div class="noti__item js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <span class="quantity">3</span>
                            <div class="notifi-dropdown js-dropdown">
                                <div class="notifi__title">
                                    <p>You have 3 Notifications</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a email notification</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c2 img-cir img-40">
                                        <i class="zmdi zmdi-account-box"></i>
                                    </div>
                                    <div class="content">
                                        <p>Your account has been blocked</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c3 img-cir img-40">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a new file</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__footer">
                                    <a href="#">All notifications</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="../../resource/images/icon/avatar-01.jpg" alt="John Doe"/>
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">john doe</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="../../resource/images/icon/avatar-01.jpg" alt="John Doe"/>
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">john doe</a>
                                        </h5>
                                        <span class="email">johndoe@example.com</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Account</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-settings"></i>Setting</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="#">
                                        <i class="zmdi zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER DESKTOP-->

<div th:fragment="layoutJS">
    <!-- Jquery JS-->
    <script src="../../resource/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../resource/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../resource/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../resource/vendor/slick/slick.min.js">
    </script>
    <script src="../../resource/vendor/wow/wow.min.js"></script>
    <script src="../../resource/vendor/animsition/animsition.min.js"></script>
    <script src="../../resource/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../../resource/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../resource/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../../resource/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../resource/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../resource/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../resource/vendor/select2/select2.min.js">
    </script>
    <script src="../../resource/js/main.js" type="text/javascript"></script>

</div>
</body>
</html>